div{

}

h1{
    font-family: 'Pacifico', cursive;
    color: #FCBF49;
}

body{

    background-color: #003049;
}

.grid-element {

   
}

#canvas-flex {
    display:flex;
    flex-direction: row;
    justify-content: center;

    grid-row-start: 2;

}

#canvas-inner-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#canvas-outer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.etch-border{
    background-color: #D62828;
}

.etch-side {

    width: 5vmax;
}

#etch-top {

    display: block;
    margin: auto;
    height: 5vmax;
    width: 50vmax;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

#etch-bottom {
    display: block;
    margin: auto;
    height: 5vmax;
    width: 50vmax;

    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#canvas-container {

    display:grid;
    background-color: #EAE2B7;
}

#etch-title
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1vw;

    font-size: 6vw;
}